@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "tailwindcss";

@theme {
  --color-accent: #568259;
  --color-secondary: #CCFCCB;
  --color-primary: #96E6B3;
  --color-background: #F1FFFA;
  --color-base: #FFFFFF;
}

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }
}

/* Scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #568259;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
